 <h1>Welcome to app-component</h1>

 <app-test></app-test>
<hr><hr>

<app-details></app-details>
<hr><hr>

<h3>{{title}}</h3>
<h3>Today : {{today}}</h3>
<hr><hr>

<h3>{{title | uppercase}}</h3>
<h3>{{title | lowercase}}</h3>
<h3>Today : {{today | date:'dd-MM-yyyy'}}</h3>
<h3>Price : {{price | currency}}</h3>
<h3>Price : {{price | currency:'INR':'symbol':'6.1-9'}}</h3>
<hr><hr>

<span>Selling Price : {{sellingPrice | currency:'INR'}} , Profit : {{sellingPrice | profit : 20 | currency:'INR'}}</span>
<hr><hr>

<img [src]="imgUrl" [width]="imgWidth"/>