 <h1>Welcome to app-component</h1>

 <app-test></app-test>
<hr><hr>

<app-details></app-details>
<hr><hr>

<h3>{{title}}</h3>
<h3>Today : {{today}}</h3>
<hr><hr>

<h3>{{title | uppercase}}</h3>
<h3>{{title | lowercase}}</h3>
<h3>Today : {{today | date:'dd-MM-yyyy'}}</h3>
<h3>Price : {{price | currency}}</h3>
<h3>Price : {{price | currency:'INR':'symbol':'6.1-9'}}</h3>
<hr><hr>

<span>Selling Price : {{sellingPrice | currency:'INR'}} , Profit : {{sellingPrice | profit : 20 | currency:'INR'}}</span>
<hr><hr>

<h2>Property Binding</h2>
<img [src]="imgUrl" [width]="imgWidth"/>
<hr><hr>

<h2>Attribute Binding</h2>
<button type='button' [attr.aria-label]="attributeValue">Sample Button</button>
<hr><hr>

<h2>Class and Style Binding</h2>

<p [class.sample]="isApplied">
    This is Single class Binding , --> used Variable , within that have value
</p>

<p [class]="multipleClasses">
    This is MultipleClass Binding
</p>

<p [style.background-color]="bgColor">
    This is Single Style Binding , --> used Value directly, eithin that have Variable
</p>
<p [style]="multipleStyles">
    This is Multiple Style Binding
</p>

<hr><hr>

<h2>Event Binding</h2>
<button (click)="TimeInConsole()">Show current time in console</button><br><br>

<button (click)="TimeInWebpage()"> Show current time in web page</button>
<p>Time is : {{timenow}}</p>

<hr><hr>

<h2>Tempate variables</h2>

<input #color placeholder="type your color">        
<button (click)="setTextColor(color.value)">Set Color</button>
<p [style.color]="pColor">This text will be chnaged based on your color</p> 

<hr><hr>

<h2>Two Way Binding</h2>

<input [(ngModel)]="eg">
<p>{{eg}}</p>